@import 'tailwindcss';

* {
  user-select: none;
}

@keyframes stack-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes stack-out {
  
  to {
    transform: translateX(100%);
  }
}

.animate-stack-in {
  animation: stack-in 0.2s ease-in-out forwards;
}

.animate-stack-out {
  animation: stack-out 0.2s ease-in-out forwards;
}
